/*  Add  */
p {
    color: brown;
    border: 10px;
    border-style: groove;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    background-color: aquamarine;
    border-color: aquamarine;
}

footer {
    display: flex;
    flex-direction:column;
    color:tomato;
    align-content:space-between;
    justify-content: end;
    margin-block-end: 20px;
    margin-top: 400px;
}