/*  Add  */
p {
    color: brown;
    border: 10px;
    border-style: groove;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    background-color: aquamarine;
    border-color: aquamarine;
}

.names p:hover {
    color: black;
    background-color: beige;
    border-color: beige;
}

.tasks {
    border-radius: 20px;
    border-style: double;
    border-width: 5px;
    border-color:slateblue;
    background-color: antiquewhite;
}

.tasks li:hover {
    color: brown;
    font-size: 20px;
}

.footer {
    display: flex;
    flex-direction:column;
    color:tomato;
    align-content:space-between;
    justify-content: end;
    margin-block-end: 20px;
    margin-top: 360px;
}