/*  Add  */
p {
    color: brown;
    border: 10px;
    border-style: groove;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    background-color: aquamarine;
    border-color: aquamarine;
}